@import-normalize;

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Open Sans";
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.mapboxgl-ctrl-geocoder--input {
  border: 1px solid #7ccdcd;
  padding: 8px 12px;
  padding-left: 43px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(38, 38, 38, 0.5);
}

.mapboxgl-ctrl-geocoder--input:focus {
  outline: 2px solid #7ccdcd;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon {
  display: none;
}

.mapboxgl-ctrl-geocoder {
  display: flex;
  flex-direction: column;
}

.css-3zorqg:not(:last-child) {
  margin-bottom: 10px;
}

.point .mapboxgl-ctrl-geocoder--input {
  background: url("../public/icons/location-search.svg") no-repeat 12px center, #ffffff;
  background-size: 18px;
}

.search .mapboxgl-ctrl-geocoder--input {
  background: url("../public/icons/search.svg") no-repeat 12px center, #ffffff;
  background-size: 18px;
}

.suggestions-wrapper {
  background-color: #ffffff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.suggestions {
  margin-block: 10px;
}

:root {
  --rt-color-white: #fff;
  --rt-color-dark: #026c6c;
  --rt-color-success: #8dc572;
  --rt-color-error: #ff6370;
  --rt-color-warning: #ffca64;
  --rt-color-info: #7ccdcd;
}

.react-tooltip {
  border-radius: 8px;
  font-size: 14px;
  padding: 8px 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.react-tooltip-arrow {
  background-color: transparent !important;
}

.mapboxgl-ctrl .mapboxgl-ctrl-attrib .mapboxgl-compact {
  display: none;
}

@media (max-width: 768px) {
  .mapboxgl-ctrl-geocoder--input {
    margin-bottom: 6px;
    font-size: 14px;
  }

  .point .mapboxgl-ctrl-geocoder--input {
    background-size: 16px;
  }

  .search .mapboxgl-ctrl-geocoder--input {
    background-size: 16px;
  }
}
